@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Nunito", sans-serif;
}
nav {
  width: auto;
  height: 60px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.left ul {
  display: flex;
  list-style: none;
}
.left ul li {
  padding-left: 10px;
}
.left ul li a {
  text-decoration: none;
}

.right {
  width: 120px;
  display: flex;
  justify-content: space-around;
  padding-right: 10px;
  align-items: center;
}
.login {
  padding-right: 10px;
}
.signup {
  border-radius: 15px;
  width: 120px;
  height: 30px;
  display: flex;
  justify-content: center;
  background: tomato;
  color: #fff;
  align-items: center;
}
section {
  width: auto;
  height: 90vh;
}
.message {
  width: auto;
  height: 300px;
  display: flex;
  justify-content: start;
  padding-left: 100px;
}
.message h1 {
  font-size: 40px;
  font-weight: bolder;
  padding-top: 120px;
  font-family: "Open Sans", sans-serif;
}
.btn {
  width: 100vw;
  height: 50px;
}
.btn1 {
  margin-left: 100px;
  width: 180px;
  height: 40px;
  border-radius: 100px;
  border: 1px solid tomato;
  background: tomato;
  color: #fff;
}
.btn2 {
  width: 180px;
  height: 40px;
  border-radius: 100px;
  border: 1px solid rgb(65, 64, 64);
  background: #fff;
}
